<section>

    <div class="container">


        <div class="row ml-4">
            <div class="col-md-10">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Place</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each taxi}}


                        <tr>
                            <td>{{this.fullname}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.tlnumber}}</td>
                            <td>{{this.place}} </td>

                        </tr>

                        {{/each}}


                    </tbody>
                </table>


            </div>


        </div>

    </div>
</section>