<section>

    <div class="container">


        <div class="row ml-4">
            <div class="col-md-10">


                <table class="table" id="doctor">
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each doctor}}


                        <tr>
                            <td>{{this.fullname}}</td>
                            <td>{{this.place}}</td>
                            <td>{{this.dcategory}}</td>
                        </tr>

                        {{/each}}


                    </tbody>
                </table>


            </div>


        </div>

    </div>
</section>



<script>

    $(document).ready(function () {
        $('#doctor').DataTable();
    });

</script>